<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hello {{name}},</p>
        <p>
            This is an automated email from
            <a href="https://montagu.vaccineimpact.org">Montagu</a>. You are
            receiving this email because a new account has been created for
            you on Montagu, the digital delivery platform for the Vaccine
            Impact Modelling Consortium.
        </p>
        <p>Please take a minute to read our privacy policy before continuing to set up your account.</p>
        <p>Privacy terms:</p>
        <ul>
            <li>Only you will log in using your email address and password. You won't share your password with others. (If someone else in your group needs to be able to log in just let us know!)</li>
            <li>Any data that you download from Montagu which is not publicly available elsewhere will be subject to the Consortium publication policy. The use of this platform should serve the purposes of data sharing and analysis generation within the context of this project.</li>
            <li>Montagu can store your name and email address. We (Imperial College London) will only use your information to allow you to access this software for the duration of the Consortium (2017-2022) and/or as long as you are a member. We will never share your information outside the Consortium without your consent.</li>
            <li>Montagu can log how and when you use Montagu, including your IP address. We will never share this information outside of the core delivery team, and it will only be used for security audits and to plan how to improve Montagu. (For example, if there is a feature that nobody is using, that might tell us something is wrong with it!)</li>
            <li>If you want us to remove your information, you will not be able to access this software as it is only available to registered users.</li>
        </ul>
        <p><strong>
            Click <a href="https://montagu.vaccineimpact.org/admin/set-password/?token={{token}}">here</a>
            to set a password for your account.
        </strong></p>
        <p>
            Welcome to Montagu. If you need any help using Montagu, or if you
            encounter any bugs, you can contact us using the
            <a href="https://vimc.slack.com/messages/C6AQBV1QC/">#montagu-help</a>
            channel on Slack, or by emailing us at
            <a href="mailto:{{support_address}}">{{support_address}}.</a>
        </p>
        <p>Best wishes,</p>
        <p>The Montagu Team</p>
    </body>
</html>