<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hello {{name}},</p>
        <p>
            This is an automated email from
            <a href="https://montagu.vaccineimpact.org">Montagu</a>. You are
            receiving this email because a new account has been created for
            you on Montagu, the digital delivery platform for the Vaccine
            Impact Modelling Consortium.
        </p>
        <p><strong>
            Click <a href="https://montagu.vaccineimpact.org/admin/set-password/?token={{token}}">here</a>
            to set a password for your account.
        </strong></p>
        <p>
            Welcome to Montagu. If you need any help using Montagu, or if you
            encounter any bugs, you can contact us using the
            <a href="https://vimc.slack.com/messages/C6AQBV1QC/">#montagu-help</a>
            channel on Slack, or by emailing us at
            <a href="mailto:{{support_address}}">{{support_address}}.</a>
        </p>
        <p>Best wishes,</p>
        <p>The Montagu Team</p>
    </body>
</html>