*.pyc
*/config/current_user
.~lock*
src/*/build/*
src/.gradle
src/.idea/dictionaries/*
src/.idea/gradle.xml
src/.idea/libraries/*
src/.idea/tasks.xml
src/.idea/workspace.xml
src/build/*
src/out
demo/*/build/*
demo/.gradle
demo/.idea/dictionaries/*
demo/.idea/gradle.xml
demo/.idea/libraries/*
demo/.idea/tasks.xml
demo/.idea/workspace.xml
demo/app/src/main/java/uk/ac/imperial/vimc/demo/app/models/jooq/**
demo/build/*
demo/out