<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration xmlns="http://www.jooq.org/xsd/jooq-codegen-3.6.0.xsd">
    <jdbc>
        <driver>${db_driver}</driver>
        <url>jdbc:postgresql://${testdb_host}:${testdb_port}/${testdb_template_name}</url>
        <user>${db_username}</user>
        <password>${db_password}</password>
    </jdbc>

    <generator>
        <name>org.jooq.util.JavaGenerator</name>

        <database>
            <name>org.jooq.util.postgres.PostgresDatabase</name>
            <inputSchema>public</inputSchema>
            <includes>.*</includes>
            <excludes/>
        </database>

        <target>
            <packageName>org.vaccineimpact.api.db</packageName>
            <directory>../databaseInterface/src/main/java</directory>
        </target>
    </generator>
</configuration>
